@import "tailwindcss";

@plugin "daisyui" {
  themes: dark --default, light, cupcake, bumblebee, acid, valentine;
}
/* 스크롤은 유지하되 덜 튀게 */
main::-webkit-scrollbar {
  width: 10px;
}
main::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 999px;
}
main::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
main {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.12) transparent;
}

html { font-size: 20px; }

html[data-theme="devil"],
html[data-theme="devil"] body,
html[data-theme="devil"] body * {
  cursor: url("/cursor/devil.png") 2 2, auto !important;
}
